html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.loader {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: solid 1.5rem white;
  border-top: solid 1.5rem #FF79DA;
  border-bottom: solid 1.5rem #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: spin 1.2s ease-in-out infinite;
  opacity: 0.7;
}
.loader__background {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 100ms 500ms;
  display: none;
}
.loader__wrapper {
  position: relative;
}
.loader__circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 10px white;
}
.loader__text {
  color: white;
  position: absolute;
  top: 6.5rem;
  left: 3.3rem;
  font-family: "Shrikhand", cursive;
  opacity: 0.7;
  font-size: 1.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.header {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.header__arrow {
  font-size: 1.9rem;
  position: absolute;
  top: 2.3rem;
  left: 2.2rem;
  color: #353535;
}
.header__logo {
  font-weight: 500;
  font-size: 3rem;
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.menu .wrapper {
  padding: 0 2rem;
}

.localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.5rem;
}
.localisation__i {
  padding-right: 1.7rem;
  color: #353535;
  opacity: 0.9;
}
.localisation__text {
  margin: 0;
  margin-right: 2.7rem;
  color: #353535;
  font-weight: bold;
  opacity: 0.9;
}

.presentation {
  background-color: #f6f6f6;
  padding: 3.2rem;
  text-align: center;
}
.presentation__h2 {
  margin: 0 1.2rem;
  font-weight: bold;
}
.presentation__p {
  margin-top: 1rem;
  opacity: 0.7;
  font-size: 1.8rem;
}
.presentation__button {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 500ms;
  transform: scale(1);
  font-family: "Roboto", sans-serif;
  margin: 0.9rem 0;
}
.presentation__button:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(0.99);
}
.presentation__link {
  color: white;
  text-decoration: none;
  padding: 1.5rem 0;
}

.explanation__h2 {
  margin: 4.5rem 0 0 2rem;
}
.explanation__list {
  padding: 1rem;
  margin: 0;
  list-style: none;
  counter-reset: compteListe;
}
.explanation__list-element {
  background-color: #f6f6f6;
  padding: 2.5rem;
  padding-left: 1.5rem;
  margin: 2.2rem;
  border-radius: 2rem;
  box-shadow: 0px 7px 13px -2px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  counter-increment: compteListe;
  position: relative;
}
.explanation__list-element::before {
  content: counter(compteListe);
  position: absolute;
  left: -1.4rem;
  top: 2.3rem;
  background-color: #9356DC;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explanation__icon {
  color: #7e7e7e;
  font-size: 1.8rem;
  margin: 0 2rem;
}
.explanation__text {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 4rem;
}
.restaurants__h2 {
  padding-top: 5rem;
  margin-left: 2rem;
}
.restaurants__cards-list {
  padding: 0 2rem;
  list-style-type: none;
}
.restaurants .restaucard {
  background-color: white;
  width: 100%;
  border-radius: 1.5rem;
  margin: 2.5rem 0;
  transform: scale(1);
  transition: all 400ms;
}
.restaurants .restaucard:hover {
  transform: scale(0.99);
}
.restaurants .restaucard__link {
  text-decoration: none;
  color: black;
}
.restaurants .restaucard__img {
  width: 100%;
  border-radius: 1.3rem 1.3rem 0 0;
  object-fit: cover;
  margin: 0;
  height: 18rem;
}
.restaurants .restaucard__footer {
  padding: 1rem;
}
.restaurants .restaucard__flex {
  display: flex;
  justify-content: space-between;
}
.restaurants .restaucard__h3 {
  margin: 0.3rem 0;
}
.restaurants .restaucard__heart {
  right: 2.5rem;
  font-size: 2.5rem;
  position: relative;
  transition: all 200ms;
}
.restaurants .restaucard__heart:hover {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurants .restaucard__heart--full {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 400ms;
  opacity: 0;
}
.restaurants .restaucard__heart--full:hover {
  opacity: 1;
}
.restaurants .restaucard__p {
  margin: 0;
}

.heart-placement {
  position: relative;
  bottom: 2.4rem;
  left: 3rem;
}

.footer {
  background-color: #353535;
}
.footer__h2 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1.8rem;
  padding-top: 2rem;
  padding-left: 2.2rem;
  opacity: 0.9;
  margin-top: 0;
}
.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 3rem 2.2rem;
}
.footer__list-element {
  color: white;
  padding-bottom: 0.7rem;
}
.footer__list-icon {
  margin-right: 1rem;
  font-size: 1.3rem;
  opacity: 0.9;
}
.footer__list-text {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.background-picture {
  width: 100%;
}
.background-picture__img {
  width: 100%;
  object-fit: cover;
  height: 28rem;
}

.main-background {
  background-color: #f6f6f6;
}

.menu {
  background-color: #f6f6f6;
  border-radius: 4rem;
  position: relative;
  z-index: 100;
  bottom: 5.3rem;
}
.menu__flex-title {
  display: flex;
  align-items: center;
}
.menu__title {
  font-family: "Shrikhand", cursive;
  flex-grow: 1;
  font-weight: 500;
  font-size: 2.7rem;
  margin-top: 2.9rem;
}
.menu__heart {
  right: 2.5rem;
  font-size: 2.5rem;
  position: relative;
  transition: all 200ms;
  left: 1.5rem;
}
.menu__heart:hover {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__heart--full {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 400ms;
  opacity: 0;
}
.menu__heart--full:hover {
  opacity: 1;
}
.menu__h2 {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.9;
  margin-bottom: 2rem;
  margin-top: 0.7rem;
  position: relative;
}
.menu__h2::before {
  content: "";
  width: 3.7rem;
  height: 0.3rem;
  background-color: #99e2D0;
  position: absolute;
  top: 2.2rem;
}
.menu__link {
  color: white;
  text-decoration: none;
  padding: 1.5rem 0;
}
.menu__button {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 500ms;
  transform: scale(1);
  font-family: "Roboto", sans-serif;
  padding: 1.5rem 4.5rem;
  font-weight: 500;
}
.menu__button:hover {
  cursor: pointer;
  opacity: 0.9;
  transform: scale(0.99);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 0.7rem;
}

.meals {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-bottom: 3.3rem;
}
.meals__meal {
  background-color: white;
  border-radius: 1.3rem;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.08);
  margin-left: -0.4rem;
  margin-bottom: 1.4rem;
}
.meals__title {
  margin: 0rem;
  padding: 1rem 0 0.3rem 1rem;
  font-size: 1.7rem;
}
.meals__flex {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0.9rem;
}
.meals__description {
  margin: 0;
  padding-left: 1rem;
  font-size: 1.4rem;
  opacity: 0.9;
}
.meals__price {
  font-size: 1.4rem;
  padding-right: 2rem;
}

/*# sourceMappingURL=style.css.map */
