html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  margin: 0;
}

.loader {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: solid 1.5rem white;
  border-top: solid 1.5rem #FF79DA;
  border-bottom: solid 1.5rem #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: spin 1.2s ease-in-out infinite;
  opacity: 0.7;
}
.loader__background {
  background-color: white;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fade-out 1.5s forwards;
}
.loader__wrapper {
  position: relative;
}
.loader__circle {
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  border: solid 10px white;
}
.loader__text {
  color: white;
  position: absolute;
  top: 6.5rem;
  left: 3.3rem;
  font-family: "Shrikhand", cursive;
  opacity: 0.7;
  font-size: 1.5rem;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fade-out {
  0% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  99% {
    z-index: 3;
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}
.header {
  position: relative;
  z-index: 2;
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.1);
}
.header__arrow {
  font-size: 1.9rem;
  position: absolute;
  top: 2.3rem;
  left: 2.2rem;
  color: #353535;
}
.header__logo {
  font-weight: 500;
  font-size: 3rem;
  font-family: "Shrikhand", cursive;
  text-align: center;
  margin: 0;
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
}
.menu .wrapper {
  padding: 0 2rem;
}

.localisation {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.5rem;
}
.localisation__i {
  padding-right: 1.7rem;
  color: #353535;
  opacity: 0.9;
}
.localisation__text {
  margin: 0;
  margin-right: 2.7rem;
  color: #353535;
  font-weight: bold;
  opacity: 0.9;
  background-color: #eaeaea;
  border: none;
  font-size: 1.6rem;
  outline: none;
}
.localisation__i {
  margin-left: 12rem;
}

.presentation {
  background-color: #f6f6f6;
  padding: 3.2rem;
  text-align: center;
  padding-bottom: 7rem;
}
.presentation__h2 {
  margin: 0 1.2rem;
  font-weight: bold;
}
.presentation__p {
  margin-top: 1rem;
  opacity: 0.7;
  font-size: 1.8rem;
  margin-bottom: 4rem;
}
.presentation__button {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 500ms;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  opacity: 0.9;
  margin: 0.9rem 0;
  text-decoration: none;
}
.presentation__button:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.explanation__h2 {
  margin: 4.5rem 0 0 2rem;
}
@media (min-width: 1024px) {
  .explanation__h2 {
    text-align: center;
    margin-right: 2rem;
  }
}
.explanation__list {
  padding: 1rem;
  margin: 0;
  list-style: none;
  counter-reset: compteListe;
}
@media (min-width: 1024px) {
  .explanation__list {
    display: flex;
    justify-content: space-evenly;
  }
}
.explanation__list-element {
  background-color: #f6f6f6;
  padding: 2.5rem;
  padding-left: 1.5rem;
  margin: 2.2rem;
  border-radius: 2rem;
  box-shadow: 0px 7px 13px -2px rgba(0, 0, 0, 0.15);
  font-weight: bold;
  counter-increment: compteListe;
  position: relative;
  transition: 400ms;
}
@media (min-width: 1024px) {
  .explanation__list-element {
    width: 100%;
  }
}
.explanation__list-element:hover {
  background-color: #f5edff;
  cursor: pointer;
}
.explanation__list-element:hover > .explanation__icon {
  color: #9356DC;
}
.explanation__list-element::before {
  content: counter(compteListe);
  position: absolute;
  left: -1.4rem;
  top: 2.3rem;
  background-color: #9356DC;
  color: white;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 1.5rem;
  font-size: 1.4rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
}
.explanation__icon {
  color: #7e7e7e;
  font-size: 1.8rem;
  margin: 0 2rem;
}
.explanation__text {
  font-size: 1.6rem;
  margin-left: 0.5rem;
}

.restaurants {
  background-color: #f6f6f6;
  padding-bottom: 4rem;
}
.restaurants__h2 {
  padding-top: 5rem;
  margin-left: 2rem;
}
@media (min-width: 1024px) {
  .restaurants__h2 {
    text-align: center;
    margin-right: 2rem;
  }
}
.restaurants__cards-list {
  padding: 0 2rem;
  list-style-type: none;
}
@media (min-width: 1024px) {
  .restaurants__cards-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.restaucard {
  position: relative;
  background-color: white;
  width: 100%;
  opacity: 0.87;
  border-radius: 1.5rem;
  margin: 2.5rem 0;
  transition: all 400ms;
}
@media (min-width: 1024px) {
  .restaucard {
    width: calc(50% - 20px);
    margin: 1rem 1rem;
  }
}
.restaucard:hover {
  opacity: 1;
}
.restaucard__link {
  text-decoration: none;
  color: black;
}
.restaucard__img {
  width: 100%;
  border-radius: 1.3rem 1.3rem 0 0;
  object-fit: cover;
  margin: 0;
  height: 18rem;
}
.restaucard__new {
  padding: 0.5rem 1rem;
  font-size: 14px;
  background-color: #99e2D0;
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: none;
  border-radius: 0.4rem;
  color: #0a8d6d;
  font-weight: bold;
}
.restaucard__footer {
  padding: 1rem;
}
.restaucard__flex {
  display: flex;
  justify-content: space-between;
}
.restaucard__h3 {
  margin: 0.3rem 0;
}
.restaucard__heart {
  font-size: 2.5rem;
  position: relative;
  transition: all 200ms;
}
.restaucard__heart:hover {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.restaucard__heart--full {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 200ms;
  opacity: 0;
}
.restaucard__heart--full:hover {
  opacity: 1;
}
.restaucard__heart--full {
  position: absolute;
  left: 0;
}
.restaucard__p {
  margin: 0;
}

.heart-placement {
  position: relative;
  bottom: 2.4rem;
  right: 1rem;
}

.footer {
  background-color: #353535;
}
.footer__h2 {
  color: white;
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 1.8rem;
  padding-top: 2rem;
  padding-left: 2.2rem;
  opacity: 0.9;
  margin-top: 0;
}
.footer__list {
  list-style-type: none;
  margin: 0;
  padding: 0 0 3rem 2.2rem;
}
.footer__list-element {
  color: white;
  padding-bottom: 0.7rem;
}
.footer__list-icon {
  margin-right: 1rem;
  font-size: 1.3rem;
  opacity: 0.9;
}
.footer__list-text {
  color: white;
  text-decoration: none;
  opacity: 0.9;
}

.background-picture {
  width: 100%;
}
.background-picture__img {
  width: 100%;
  object-fit: cover;
  height: 28rem;
}

.main-background {
  background-color: #f6f6f6;
}

@keyframes delay {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.menu {
  background-color: #f6f6f6;
  border-radius: 4rem;
  position: relative;
  bottom: 5.3rem;
}
@media (min-width: 1024px) {
  .menu {
    left: 7%;
    max-width: 86%;
  }
}
.menu__section {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1024px) {
  .menu__section {
    flex-direction: row;
    justify-content: space-around;
  }
}
@media (min-width: 1024px) {
  .menu__flex-section {
    margin: 0 3rem;
    width: 100%;
  }
}
.menu__flex-title {
  display: flex;
  align-items: center;
}
@media (min-width: 1024px) {
  .menu__flex-title {
    justify-content: center;
  }
}
.menu__title {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
  font-size: 2.7rem;
  margin-top: 2.9rem;
}
@media (min-width: 1024px) {
  .menu__title {
    text-align: center;
    margin-bottom: 7rem;
    margin-left: 5rem;
  }
}
.menu__heart {
  font-size: 2.5rem;
  position: relative;
  transition: all 200ms;
  left: 2rem;
  top: 0.2rem;
}
.menu__heart:hover {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}
.menu__heart--full {
  background: -webkit-linear-gradient(#FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 200ms;
  opacity: 0;
}
.menu__heart--full:hover {
  opacity: 1;
}
@media (min-width: 1024px) {
  .menu__heart {
    top: -2.2rem;
    margin-right: 4rem;
  }
}
.menu__heart--full {
  position: absolute;
  left: 0rem;
}
.menu__h2 {
  font-size: 1.5rem;
  font-weight: 500;
  opacity: 0.9;
  margin-bottom: 2rem;
  margin-top: 0.7rem;
  position: relative;
}
.menu__h2::before {
  content: "";
  width: 3.7rem;
  height: 0.3rem;
  background-color: #99e2D0;
  position: absolute;
  top: 2.2rem;
}
.menu__button {
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 500ms;
  font-family: "Roboto", sans-serif;
  color: white;
  text-decoration: none;
  opacity: 0.9;
  padding: 1.5rem 4.5rem;
}
.menu__button:hover {
  cursor: pointer;
  opacity: 1;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 0.7rem;
}

.meals {
  list-style-type: none;
  padding: 0;
  width: 100%;
  margin-bottom: 3.3rem;
}
.meals__meal {
  background-color: white;
  border-radius: 1.3rem;
  box-shadow: 0px 4px 6px 1px rgba(0, 0, 0, 0.08);
  margin-left: -0.4rem;
  margin-bottom: 1.4rem;
  opacity: 0;
  animation: delay 1s;
  animation-fill-mode: forwards;
  display: flex;
  overflow: hidden;
}
.meals__meal:hover {
  cursor: pointer;
}
.meals__meal:hover > .meals__select {
  margin-right: 0;
}
.meals__meal:hover > .meals__select > .meals__checkmark {
  transform: rotate(1turn);
}
.meals__meal--delay1 {
  animation-delay: 150ms;
}
.meals__meal--delay2 {
  animation-delay: 300ms;
}
.meals__meal--delay3 {
  animation-delay: 450ms;
}
.meals__meal--delay4 {
  animation-delay: 600ms;
}
.meals__meal--delay5 {
  animation-delay: 750ms;
}
.meals__meal--delay6 {
  animation-delay: 900ms;
}
.meals__meal--delay7 {
  animation-delay: 1050ms;
}
.meals__meal--delay8 {
  animation-delay: 1200ms;
}
.meals__meal--delay9 {
  animation-delay: 1350ms;
}
.meals__meal--delay10 {
  animation-delay: 1500ms;
}
.meals__title {
  margin: 0rem;
  padding: 1rem 0 0.3rem 1rem;
  font-size: 1.7rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
@media (min-width: 1024px) {
  .meals__title {
    font-size: 1.4rem;
  }
}
.meals__flex {
  flex-grow: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.meals__description {
  margin: 0;
  padding-left: 1rem;
  font-size: 1.4rem;
  opacity: 0.9;
  padding-bottom: 0.9rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.meals__price {
  font-size: 1.4rem;
  padding-right: 2rem;
  padding-top: 3.2rem;
}
.meals__select {
  background-color: #99e2D0;
  width: 5.7rem;
  transition: all 400ms;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -5.7rem;
}
.meals__checkmark {
  background-color: white;
  height: 2rem;
  width: 2rem;
  font-size: 1.3rem;
  border-radius: 50%;
  color: #99e2D0;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(0);
  transition: all 400ms;
}

/*# sourceMappingURL=style.css.map */
