.loader {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  border: solid 1.5rem white;
  border-top: solid 1.5rem #FF79DA;
  border-bottom: solid 1.5rem #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  animation: spin 1.2s ease-in-out infinite;
  opacity: 0.7;

    &__background{
      background-color: white;
      width: 100vw;
      height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 3;
      display: flex;
      justify-content: center;
      align-items: center;
      animation: fade-out 1.5s forwards;
    }

    &__wrapper{
      position: relative;
    }

    &__circle{
      width: 10rem;
      height: 10rem;
      border-radius: 50%;
      border: solid 10px white;
    }

    &__text{
      color: white;
      position: absolute;
      top: 6.5rem;
      left: 3.3rem;
      font-family: 'Shrikhand', cursive;
      opacity: 0.7;
      font-size: 1.5rem;
    }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fade-out {
  0%{
    opacity: 1;
  }
  70%{
    opacity: 1;
  }
  99%{
    z-index: 3;
    opacity: 0;
  }
  100% {
    opacity: 0;
    z-index: -9999;
  }
}