.localisation{
  background-color: $local-background-color;
  display: flex;
  justify-content: center;
  padding: 1.5rem;
  font-size: 1.5rem;

    &__i {
      padding-right: 1.7rem;
      color: $tertiary-background-color;
      opacity: $local-opacity;
    }

    &__text {
      margin: 0;
      margin-right: 2.7rem;
      color: $tertiary-background-color;
      font-weight: bold;
      opacity: $local-opacity;
      background-color: #eaeaea;
      border: none;
      font-size: 1.6rem;
    }

    &__i {
      margin-left: 12rem;
    }
}