.presentation{
  background-color: #f6f6f6;
  padding: 3.2rem;
  text-align: center;


    &__h2 {
      margin: 0 1.2rem;
      font-weight: bold;
    }

    &__p {
      margin-top: 1rem;
      opacity: 0.7;
      font-size: 1.8rem;
    }

    &__button {
      @include btn;
      margin: 0.9rem 0;
    }
}