@mixin btn {
  background: linear-gradient($secondary-color, $primary-color);
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 500;
  transition: all 500ms;
  font-family: 'Roboto', sans-serif;
  color: white;
  text-decoration: none;
  opacity: 0.9;

        &:hover {
          cursor: pointer;
          opacity: 1;
          box-shadow: 0 5px 10px rgb(0 0 0 / 25%);
        }
}

@mixin heart {
  font-size: 2.5rem;
  position: relative;
  transition: all 200ms;

    &:hover {
      background: -webkit-linear-gradient($secondary-color, $primary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      cursor: pointer;
    }

    &--full {
      background: -webkit-linear-gradient($secondary-color, $primary-color);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      transition: all 200ms;
      opacity: 0;

      &:hover {
        opacity: 1;
      }
    }
  }

