@mixin btn {
  background: linear-gradient($secondary-color, $primary-color);
  padding: 1.5rem 2rem;
  border-radius: 3rem;
  border: none;
  font-size: 1.4rem;
  font-weight: bold;
  transition: all 500ms;
  transform: scale(1);
  font-family: 'Roboto', sans-serif;

        &:hover {
          cursor: pointer;
          opacity: 0.9;
          transform: scale(0.99);
        }
}

@mixin heart {

}